p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196F3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}

.header {
  border-bottom: 1px solid #ECECEC;
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

/* header list */
.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .item:not(:last-child) {
  margin-right: 50px;
}

/* header link */
.header-link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.active-page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* header contact */
.header-contact {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .item:not(:last-child) {
  margin-right: 40px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero-container {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/* preference */
.preference-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.preference-item {
  flex-basis: calc((100% - 90px) / 4);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 244, 250);
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.preference-icon {
  width: 70px;
  height: 70px;
}

/* what we do */
.work-section {
  padding-top: 0;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.working-list {
  display: flex;
}

.working-list .working-item:not(:last-child) {
  margin-right: 30px;
}

.work-thumb {
  position: relative;
}

.work-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 27px;
}

.work-desc {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* team */
.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #F5F4FA;
}

.content {
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.name-img {
  margin-bottom: 30px;
}

.desc,
.info {
  color: var(--text-color);
  line-height: 1.19;
}

.desc {
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.team-soc-items {
  width: 44px;
  height: 44px;
}

.team-soc-items:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: #FFFFFF;
}

/* Clients */
.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item {
  width: 1750px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 11px;
  height: 11px;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form {
  position: relative;
  display: block;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover,
.form-comment:hover,
.form-comment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-input:hover + svg,
.form-input:focus + svg {
  fill: var(--accent-color);
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  position: absolute;
  top: -20px;
  left: 0;
}

.input-group {
  position: relative;
  margin-bottom: 28px;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 28px;
  resize: none;
  font-family: "Roboto";
}

.form-comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-group {
  margin-bottom: 30px;
  margin-left: 12px;
}

.check-input-icon {
  width: 16px;
  border: 2px solid var(--primary-text-color);
  height: 16px;
  margin-right: 8px;
  border-radius: 4px;
  fill: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.politic-check:checked + label > span {
  background-color: var(--accent-color);
  border: none;
}

.politic-check:checked + label > span svg {
  fill: #FFFFFF;
}

.policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.policy-accent-text {
  color: var(--accent-color);
  margin-left: 5px;
}

.form-btn {
  background: #188CE8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

/* PORTFOLIO */
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .filter-items:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.grid-item {
  width: 370px;
  margin: 15px;
}

.headline {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.info {
  line-height: 1.875;
}

.grid-pic {
  display: block;
}

.grid-box {
  position: relative;
  overflow: hidden;
}

.grid-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 63px 24px;
}

.grid-item:hover .grid-overlay {
  transform: translateY(0);
  opacity: 1;
}

.grid-item:hover,
.grid-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* footer */
.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  padding: 60px 0;
}

.footer-conteiner {
  display: flex;
}

.footer-logo {
  display: block;
  margin-bottom: 28px;
}

.logo-studio {
  color: #ffffff;
}

.list .list-item:not(:last-child) {
  margin-bottom: 12px;
}

.map {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.map:hover,
.map:focus {
  color: var(--accent-color);
}

.soc-networks {
  height: 80px;
  width: 206px;
  margin-left: 70px;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icons {
  fill: currentColor;
}

.mailing-list {
  margin-left: 93px;
}

.input-mailing {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  padding: 15px 16px;
}

.input-mailing::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.input-mailing::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-right: 28px;
  margin-left: 12px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-group {
  position: relative;
}

.footer-input-icon {
  position: absolute;
  right: 28px;
  top: 13px;
}/*# sourceMappingURL=main.css.map */