/* footer */
.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-conteiner {
    display: flex;
}

.footer-logo {
    display: block;
    margin-bottom: 28px;
}

.logo-studio {
    color: #ffffff;
}

.list .list-item:not(:last-child) {
    margin-bottom: 12px;
}

.map {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

.map:hover,
.map:focus {
    color: var(--accent-color);
}



.soc-networks {
    height: 80px;
    width: 206px;
    margin-left: 70px;
}

.footer-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-icons {
    fill: currentColor;
}

.mailing-list {
    margin-left: 93px;
}

.input-mailing {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    color: #ffffff;

    padding: 15px 16px;
}

.input-mailing::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: transparent;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.06em;

    color: #FFFFFF;
    padding-right: 28px;

    margin-left: 12px;
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-form-group {
    position: relative;
}

.footer-input-icon {
    position: absolute;
    right: 28px;
    top: 13px;
    
}