// preference

.icon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.icon-list>li {
    flex-basis: calc((100% - 90px) / 4);
}

.icon-list__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 244, 250, 1);
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    border-radius: 4px;

}

.icon-list__title{
    @include font (14, 700, 1.14, null);

    text-transform: uppercase;
    margin-bottom: 10px;
}

.icon-list__desc{
    color: var(--text-color);
    @include font (14, null, 1.7, null);
}



